.create-container-page{
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  z-index: 999;
}

.create-container{
  position: absolute;
  width: clamp(60rem,75vw,75rem);
  height:clamp(30rem,40vw,37.5rem);
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #fff5e5;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0px;
  z-index: 1000;
}
.create-container-header{
  position: relative;
  width: 100%;
  border-bottom:1px solid #d3cdc2;
  text-align: center;
  padding:10px;
  font-size: clamp(1.125rem,1.5vw,1.5rem);
  color:var(--text-color);
  z-index:101
}
.create-container-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1;
  background-color: transparent;
  font-size: 20px;
  padding:10px 20px;
  border-radius: 30px;
  margin-bottom:20px;
  color:white;

}
.create-container-body label{
  background-color: var(--accent-color);
  padding:clamp(0.4rem,1vw,0.625rem) clamp(1.25rem,2.5vw,2rem);
  border-radius: 50px;
  font-size: clamp(1rem,1.5vw,1.25rem);
}
.create-image{
  width:clamp(18rem,22vw,21.75rem);
  border-radius: 10px;
}
.xmark{
  position: absolute;
  z-index: 1000;
  top:25px;
  right:25px;
  color:var(--text-color);
  cursor: pointer;
}
#create-input{
  display: none;
}
label{
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}
.post-upload-container{
  flex:1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 30px;

}
.post-upload-image{
  width:clamp(12.5rem, 35vw, 28rem);
  height:clamp(10rem, 30vw, 22rem);
  border-radius: 15px;
  object-fit:cover
}
.post-upload-details{
  display: flex;
  flex-direction: column;
  width:18.75rem;
  height:clamp(10rem, 30vw, 22rem);
  justify-content: space-between;
  font-size:clamp(0.875rem,1.5vw,1rem);
}

.post-upload-caption-input{
  width: 100%;
  background-color: transparent;
  border:2px solid #d3cdc2;
  padding:clamp(0.5rem,2vw,0.625rem) clamp(0.625rem,2vw,1rem);
  padding-bottom:50px;
  outline: none;
  font-family: 'Itim';
  color:var(--text-color);
  border-radius: 10px;
}
.post-upload-input-headers{
  color:var(--text-color);
}
.post-upload-caption-input::placeholder, .post-upload-tag-input::placeholder{
  color:#114085B3;
}
.post-upload-privacy{
  background-color: transparent;
  border: 2px solid #d3cdc2;
  padding:clamp(0.5rem,2vw,0.625rem) clamp(0.625rem,2vw,1rem);;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#114085B3;
  border-radius: 10px;
}
.post-upload-album-select{
  width:100%;
  background-color: transparent;
  border: 2px solid #d3cdc2;
  padding:  clamp(0.5rem,2vw,0.625rem) clamp(0.625rem,2vw,1rem);
  font-family:'Itim';
  border-radius: 10px;
  box-sizing: border-box;
  appearance: none;
  outline:none;
}


.post-upload-button{
  background-color: var(--accent-color);
  color:white;
  border:none;
  padding:10px;
  font-family:'Itim';
  border-radius: 10px;;
  font-size: 1rem;
  cursor: pointer;
}
.post-upload-button:hover{
  background-color: var(--accent-hover);
}
.create-exit{
  position:absolute;
  top:14px;
  right:17px;
  font-size:clamp(1,125rem, 1.5vw, 1.5rem);
  color:var(--text-color);
  z-index:111;
  cursor:pointer;
}
.create-exit:hover{
  color:#113f85cb
}

.post-upload-toggle{
  width:45px;
  height:25px;
  border-radius: 20px;
  background-color: var(--accent-color);
  position:relative;
  cursor: pointer;
  transition: all 0.2s ease;

}
.post-upload-toggle.toggle-background-off{
  background-color: rgba(0, 0, 0, 0.2);
}
.post-upload-toggle-switch{
  width:18px;
  height:18px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  right:3px;
  top:3px;
  box-shadow: -2px 0px 2px rgba(0,0,0,0.2);

  transition: all 0.2s ease;
}
.post-upload-toggle-switch.toggle-switch-off{
  transform: translateX(-21px);
  box-shadow:2px 0px 2px rgba(0,0,0,0.2);
}

@media(max-width:1000px){
  .create-container{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .post-upload-container{
    flex-direction: column;
    row-gap:30px;
    }
  .post-upload-details{
    row-gap:10px;
    width: clamp(18.75rem,70%,31.25rem);
    height:clamp(10rem,70%,18.75rem);
    justify-content: start;

  }
  .post-upload-image{
    height:clamp(10rem,60%,18.75rem);
    width: clamp(18.75rem, 70%,31.25rem );
  }
}