.create-container-page{
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  z-index: 999;
}

.create-container{
  position: absolute;
  width: 1200px;
  height:600px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #fff5e5;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  z-index: 1000;
}
.create-container-header{
  position: absolute;
  top:0;
  left:0;
  right: 0;;
  border-bottom:1px solid #d3cdc2;
  text-align: center;
  padding:10px;
  font-size: 23px;
  color:var(--text-color);
  z-index:101
}
.create-container-body{
  background-color: var(--accent-color);
  font-size: 20px;
  padding:10px 20px;
  border-radius: 30px;
  color:white;

}

.create-image{
  width:350px;
  border-radius: 10px;
}
.xmark{
  position: absolute;
  z-index: 1000;
  top:25px;
  right:25px;
  color:var(--text-color);
  cursor: pointer;
}
#create-input{
  display: none;
}
label{
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}
.post-upload-container{
  margin-top:10px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;

}
.post-upload-image{
  max-width: 600px;
  height:400px;
  border-radius: 15px;
  object-fit:cover
}
.post-upload-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-upload-tag-input{
  width: 300px;
  background-color: transparent;
  border:2px solid #d3cdc2;
  padding:10px 15px;
  outline: none;
  font-family: 'Itim';
  color:var(--text-color);
  border-radius: 10px;;
}
.post-upload-caption-input{
  width: 300px;
  background-color: transparent;
  border:2px solid #d3cdc2;
  padding:10px 15px;
  padding-bottom:50px;
  outline: none;
  font-family: 'Itim';
  color:var(--text-color);
  border-radius: 10px;
}
.post-upload-input-headers{
  color:var(--text-color);
}
.post-upload-caption-input::placeholder, .post-upload-tag-input::placeholder{
  color:#114085B3;
}
.post-upload-privacy{
  background-color: transparent;
  border: 2px solid #d3cdc2;
  padding:10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#114085B3;
  border-radius: 10px;
}
.post-upload-album-select{
  width:300px;
  background-color: transparent;
  color:#114085B3;
  border: 2px solid #d3cdc2;
  padding:10px 15px;
  font-family:'Itim';
  border-radius: 10px;
  box-sizing: content-box;
  appearance: none;
  outline:none;
}


.post-upload-button{
  background-color: var(--accent-color);
  color:white;
  border:none;
  padding:10px;
  font-family:'Itim';
  border-radius: 10px;;
}
.create-exit{
  position:absolute;
  top:14px;
  right:17px;
  font-size:23px;
  color:var(--text-color);
  z-index:111;
  cursor:pointer;
}
.create-exit:hover{
  color:#113f85cb
}

.post-upload-toggle{
  width:45px;
  height:25px;
  border-radius: 20px;
  background-color: var(--accent-color);
  position:relative;
  cursor: pointer;
  transition: all 0.2s ease;

}
.post-upload-toggle.toggle-background-off{
  background-color: rgb(255, 42, 42);
}
.post-upload-toggle-switch{
  width:18px;
  height:18px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  left:3px;
  top:3px;
  box-shadow:2px 0px 2px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}
.post-upload-toggle-switch.toggle-switch-off{
  transform: translateX(21px);
  box-shadow: -2px 0px 2px rgba(0,0,0,0.2);
}

