.friendsPageContainer{
  padding:max(2.5%,0.625rem) max(2.5%,0.625rem);
  
  display: flex;
  flex-direction: column;
  row-gap: min(2rem,3vw);
}
.header{
  font-size: clamp(2.75rem,5vw,4rem);
  position: relative;

}
.requestHeader{
  color:var(--text-color);
  font-size:clamp(2.75rem,5vw,4rem);;
  font-weight: 600;
  text-wrap: nowrap;
}
.header::after{
  content:'';
  width: max(6vw,3rem);
  height: 3px;
  border-radius: 10px;
  position: absolute;
  bottom:0;
  right: 0;
  background-color:var(--accent-color);
}
.friendsHeader{
  display: flex;
  justify-content: start;
  
}

.friendsButtons{
  display: flex;
  column-gap: 10px;
}
.button{
  width: clamp(5.5rem,20vw,17rem);
  height:35px;
  border:none;
  border-radius: 20px;
  background-color: var(--background-light);
  color:var(--accent-color);
  font-family: 'Itim';
  font-size: clamp(0.9rem,3vw,1.2rem);
  box-shadow:4px 4px 1px var(--accent-color);
  transition: 0.25s all ease;
  cursor: pointer;
}
.button:hover{
  background-color: var(--background-color);
}
.button:active{
  transform: translate(4px, 4px);
  box-shadow: none;;
}
  .active{
  box-shadow: 4px 4px 1px #e2a344;
  color:var(--background-light);
  background-color: #ffbf60;
}
.active:hover{
  transform:none;
  background-color: var(--accent-hover);
  box-shadow: 4px 4px 1px #e2a344;
}
.friendsButtonsContainer{
  position: relative;
  display: flex;
    justify-content: space-between;
}
.searchInput{
  position: absolute;
  right: 0;
  top:50%;
}
.friendsInput{
  width: 100%;
}
.friendsButtonsContainer
.friendsOuletContainer{
  width: 100%;
}
.friendsContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(340px, 33%, 375px), 1fr));
  gap: clamp(1.25rem,2vw, 1.875rem);
}

.friendImage{
  width: clamp(2.75rem,5vw, 3.25rem);
  border-radius: 2.25rem;
}
.friend{
  max-width: 35rem;
  padding:clamp(0.75rem, 1.5vw, 1.25rem) clamp(1.25rem, 1.75vw,2rem);
  display: flex;
  align-items: center;
  column-gap: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.friendName{
  font-size: clamp(1rem, 1vw, 1.25rem);
  color:var(--text-color);
  font-weight:500;
}
.friendUser{
  margin-top:2px;
  color:var(--accent-color);
  font-size:0.875rem;
  font-weight: 400;
}
.friendInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageButton{
  background-color:var(--accent-color);
  border: none;
  color:white;
  width: clamp(4.75rem, 10vw,5.625rem);
  padding: 0.5rem 0;
  font-family: 'Itim';
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 1.25rem;
}
.messageButton:hover{
  background-color: #ffbf60;
}
.dropDown{
  background-color: transparent;
  outline:none;
  font-family: 'Itim';
  font-size:16px;
  border:none;
  color:var(--accent-color);
  padding-left: 10px;
}


.requestCount{
  color:var(--accent-color);
  font-weight: 300;
}
.request{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 300px;
}
.requestUserInfo{
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.name{
  margin:0;
  color:var(--text-color);
  font-weight: 600;
  font-size: 20px;
}
.username{
  color:var(--accent-color);
  font-size: 14px;
}

.requestContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(250px, 20%, 300px), 1fr));
  column-gap: 0px;
  row-gap:50px
}
.requestButtons{
  display:flex;
  column-gap: 5px;
}
.requestButtons button{
  border:2px solid var(--accent-color);
  font-size:16px;
  transition: all 0.15s ease;
  border-radius:20px;
  cursor: pointer;
  width:140px;
  height:35px;
}
.requestButtons button:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.ignoreButton{
  background-color: transparent;
 
  color:var(--accent-color);
  
 
  }
.ignoreButton:hover{
  background-color: var(--background-light);
  border-color: var(--accent-hover);
  color:var(--accent-hover)
}
.acceptButton{
  color:var(--background-light);
  background-color: var(--accent-color);
}
.acceptButton:hover{
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.requestUserImage{
  width: 100px;
  border-radius: 50%;
}


.friendButtons{
  display: flex;
  align-items: center;
  column-gap:10px;
}
.ellipsisContainer{
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.ellipsisContainer:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.ellipsis{
  font-size: 20px;
  color:#3d3d3d;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.mutualFriends{
  color:var(--text-hover);
  font-size: 14px;
}
@media(max-width:650px){
  .friendsContainer{
    row-gap:0;
    
  }
  .friendButtons{
    justify-content: center;
  }
  .friend{
    padding-right:0.1rem;
    padding-left:0.1rem;
    box-shadow: none;
  }
}
@media(max-width:1000px){
  .friendsHeader{
    justify-content: center;
  }
  .friendsButtonsContainer{
    justify-content: center;
  }
}