:root{
  --body-padding:160px;
  --small-side-bar-padding:52px;
  --text-color:#114085;
  --text-hover:#113f85cb;
  --accent-color:#FFB74D;
  --accent-hover:#ffbf60;
  --background-color:#ffefd8;
  --background-light:#FFF5E5;
  --border-color:#d3cdc2;
  --input-text:#3D3D3D;
  --header-height:clamp(calc(0.8rem + 40px),7.25vw,calc(1.25rem + 45px));
}

@font-face {
  font-family: 'itim';
  src: url('/Itim-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'itim';
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
h1{
  color:var(--text-color);
}
.body-default{
  padding-left: var(--body-padding);  
  padding-top:var(--header-height);
  display: block;
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  background-color: #ffefd8;
  overflow-y:scroll;
  
}
.body-signIn{
  padding:0;
  margin:0;
  display: block;
  min-width: 320px;
  min-height: 100dvh;
  background-color: #ffefd8;
}
.body-settings{
  padding:0;
  margin:0;
  display: block;
  min-width: 320px;
  min-height: 100dvh;
  background-color: #FFF5E5;
  overflow: hidden;
}
.body-home{
  padding-top:var(--header-height);
  padding-left:7px;
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 320px;
  min-height: calc(100dvh - var(--header-height));
  background-color: #ffefd8;
}

input{
  color:var(--input-text);
}
.drop-down-settings{
  padding:10px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.drop-down-settings div{
  font-size: 19px;
}
.loading-page{
  background-color: var(--background-color);
 position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-page img{
  height:clamp(10rem,8vw,12.5rem);
  animation:shimmer 1s linear infinite
}
.loader{
  width:150px; 
  height:150px;
  border-radius: 50%;
  border:20px solid #0000000e;
  border-top:20px solid var(--accent-color);
  animation: spin 1.5s linear infinite;
}
.notification-container{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  top:80px;
  right:0;
  width: clamp(14rem,20vw,15.625rem);
  height:50px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: black;
  animation: slide 0.4s ease;
  z-index: 1000;
  box-shadow: 0px 8px 8px rgba(0,0,0,0.05);
}

.notification-success{
  background-color: #E7EBD1;
  border:1px solid #b9bca750;
}
.notification-error{
  background-color: #FEDDC7;
  border:1px solid #cbb19f65;
}
.notification-left{
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.notification-left i{
  font-size: 30px;
}
.notification-message{

}
.success-notification-message-head{
  font-size:clamp(0.875rem,0.75vw,1rem);

  color:#5CD6A7;
}
.error-notification-message-head{
  color:#F57969;
}
.error-notification-message-message{
  font-size:clamp(0.5rem,0.75vw,0.75rem);
  color:#F89785;
}
.success-notification-message-message{
  font-size:clamp(0.625rem,1vw,0.75rem);
  color:#5cd6a7c0;
}
.success-icon{
  color:#5CD6A7;
}
.error-icon{
  color: #F57969;
}
.notification-right{
  display: flex;
  align-items: center;
  height: 100%;
}
.success-right{
  border-left:1px solid #B9BCA7
}
.error-right{
  border-left:1px solid #CBB19F;
}
.success-xmark{
  padding-left:10px; 
  color:#5CD6A7;
  cursor: pointer;
}
.error-xmark{
  padding-left:10px;
  color:#F57969;
  cursor: pointer;
}
@keyframes slide{
  0%{
    transform: translateX(100%);

  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes shimmer{
  0%{
    filter:brightness(70%);
  }
  50%{
    filter:brightness(100%);
  }
  100%{
    filter: brightness(70%);
  }
}
@keyframes spin{
 0%{
  transform: rotate(0deg);
 }
 100%{
  transform:rotate(360deg);
 }
}
@keyframes loaded{
  0%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0);
  }
}

