:root{
  --body-padding:187.125px;
  --text-color:#114085;
  --text-hover:#113f85cb;
  --accent-color:#FFB74D;
  --accent-hover:#ffbf60;
  --background-color:#ffefd8;
  --background-light:#FFF5E5;
  --border-color:#d3cdc2;
  --input-text:#3D3D3D;
  --header-height:72px;
  --messagesFriendsSelector-width: 330px; 
}
@font-face {
  font-family: 'itim';
  src: url('/Itim-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'itim';
  margin:0;
  padding:0;
}
.body-default{
  padding-left: var(--body-padding);
  padding-top:var(--header-height);
  display: block;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background-color: #ffefd8;
  overflow-y:scroll;
  
}
.body-signIn{
  padding:0;
  margin:0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffefd8;
}
.body-settings{
  padding:0;
  margin:0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFF5E5;
  overflow: hidden;
}
.body-home{
  padding-top:var(--header-height);
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 320px;
  min-height: calc(100vh - var(--header-height));
  background-color: #ffefd8;
}

input{
  color:var(--input-text);
}
.drop-down-settings{
  padding:10px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.drop-down-settings div{
  font-size: 19px;
}
.loading-page{
  background-color: var(--background-color);
 position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-page img{
  height:200px;
  animation:shimmer 1s linear infinite
}
.loader{
  width:150px; 
  height:150px;
  border-radius: 50%;
  border:20px solid #0000000e;
  border-top:20px solid var(--accent-color);
  animation: spin 1.5s linear infinite;
}
@keyframes shimmer{
  0%{
    filter:brightness(70%);
  }
  50%{
    filter:brightness(100%);
  }
  100%{
    filter: brightness(70%);
  }
}
@keyframes spin{
 0%{
  transform: rotate(0deg);
 }
 100%{
  transform:rotate(360deg);
 }
}
@keyframes loaded{
  0%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0);
  }
}

