.gallery-page-container{
  padding:max(2.5%,0.625rem) max(2.5%,1rem);
}
.gallery-page-header{
  display: flex;
}
.gallery-page-header h1{
  font-size: clamp(2.75rem,5vw,4rem);
  display: inline-block;
  position: relative;
  margin-bottom:clamp(0.625rem,1.5vw,1.5rem);
}


.selector-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;

}
.selector{
  display: flex;
  align-items: center;
  column-gap: 0.675rem ;
  color:var(--text-color);
  font-size: clamp(0.8rem,1.5vw,1.25rem);
  padding:0.675rem clamp(0.8rem,4vw,6.5625rem);
  cursor: pointer;
  transition: all 0.3s ease;
}
.selector-line{
  position: absolute;
  top:0;
  left:0;
  height: 4px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 99px;
}

#selected-line{
  position: absolute;
  top:0;
  height: 4px;
  width: 33%;
  background-color: var(--accent-color);
  border-radius: 99px;
  transition: all 0.4s ease;
}
.selector-active{
  color:var(--accent-color);
}
.h2-container{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.media-search{
  position: absolute;
  right: 0;
}
.sort-button{
  display: inline-block;
  color:var(--text-color);
  font-size: 20px;
  cursor: pointer;
}
.sort-button-span{
  color:var(--accent-color);
}

.sort-button-arrowDown{
  color:black;
  margin-left:5px;
}




.photos-container{
  margin-top:clamp(0.625rem,1.5vw,1.5rem);
  width: 100%;
    column-gap: 10px;
    column-count: 4;
}

.photos{  
  width:100%;
  object-fit:cover;
  border-radius: 10px;
  filter: brightness(70%);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom:10px;
}
.photos:hover{
  filter: brightness(100%);
}

.albums-container{
  margin-top:clamp(0.625rem,1.5vw,1.5rem);;
  width: 100%;
  column-gap: clamp(0.75rem,1.25vw, 1.25rem);
  column-count: 4;
}
@media(max-width:1200px){
  .albums-container{
    column-count:3 ;
  }
  .profile-albums-container{
    column-count: 4;
  }
  .photos-container{
    column-count:3 ;
  }
}
@media(max-width:725px){
  .albums-container{
    column-count:2 ;
  }
  .profile-albums-container{
    column-count: 3;
  }
  .photos-container{
    column-count: 2;
  }
}
@media(max-width:350px){
  .albums-container{
    column-count: 1;
  }
}

.profile-albums-container{
  column-count: 5;
  margin-top:0px;
}
.album-add{

  border-radius:10px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.album-plus-background{
  width:50px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius:30px;
  background-color: var(--accent-color);
}
.album-add i{
  font-size:30px;
  color:white;
}
.album-add p{
  color:var(--text-color);
  font-size:22px;
}
.album-cover-container{
  margin-bottom:10px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.album-cover-container img{
  position: relative;
  border-radius:20px;
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor: pointer;
  object-fit:cover;
  
}
.album-info{
  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding:0px 5px;
}
.album-info p{
  color:var(--text-color);
  font-size:clamp(0.75rem,1vw,1rem);
  display: flex;
  align-items: center;
}
.album-info-collaborators{
  color:var(--text-hover);
  font-size:clamp(0.75rem,1vw,1rem);
}
.album-info-right{
  display: flex;
  column-gap: 10px;
  color:var(--accent-hover);
}
.album-info-right div{
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.album-info-right p{
  color:var(--text-hover);
  font-size:clamp(0.7rem,1vw,1rem);
}
.album-info-right i{
  font-size:clamp(0.7rem,1vw,1rem);
}
.heart{
  color:#fd614c;
}
.album-info
.album-cover-gradient{
  position: absolute;
  top:70%;
  bottom:0;
  right:0;
  left:0;
  background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
  z-index:200;
  color:white;
  font-size:35px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.album-cover-container:hover .album-cover-gradient{
  opacity: 0;
}
.album-cover-name{
  position: absolute;
  right:20px;
  bottom:20px;
}
.create-album-page{
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 999;
}

.create-album-container{
  position: absolute;
  width: 500px;
  height:800px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #fff5e5;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  
  row-gap: 20px;
  z-index: 1000;
}
.create-album-header{
  display:flex;
  align-items:center;
  justify-content: center;
  padding:12px 0px;
  border-bottom:1px solid #d3cdc2;
  position: relative;
}
.create-album-header p{
  color:var(--text-color);
  font-size:20px;
}
.create-album-close{
  color:var(--text-color);
  position:absolute;
  right:20px;
  font-size:20px;
  top:15px;
  cursor:pointer;
}
.create-album-close:hover{
  color:#113f85cb
}

.create-album-body{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  row-gap:25px; 
  padding:0px 100px;
}


.create-album-picture-placeholder, .create-album-cover-photo-container{
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:300px;
  background-color:rgba(0,0,0,0.2);
  border-radius: 20px;
  overflow: hidden;
}
.create-album-picture-placeholder p{
  color:var(--text-color);
  font-size:20px;
}
.create-album-picture-placeholder label{
  display:flex;
  flex-direction: column;
}
.create-album-cover-plus-container{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width:50px;
  height:50px;
  background-color: var(--accent-color);
}
#create-album-cover-input{
  display: none;
}

.create-album-cover-photo{
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.cover-photo-remove{
  color:white;
  font-size:12px;
}

.cover-photo-remove-container{
  top:15px;
  right:15px;
  
  position:absolute;
  width:20px;
  height:20px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  z-index: 101;
  border-radius: 30px;
  cursor: pointer;
}
.create-album-name{
  width: 100%;
  text-align: center;
  color:var(--text-color);
  border:none;
  background-color: transparent;
  font-size:17px;
  outline:none;
  padding:8px;
  border-bottom:2px solid var(--accent-color);
  box-sizing: border-box;
}

.create-album-name::placeholder{
  color:var(--text-color);
  font-size:17px;
}

.create-album-tag-container, .create-album-upload-photos-container{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding:8px;
  border:2px solid #d3cdc2;
  border-radius: 10px;
  box-sizing: border-box;
  cursor:pointer;
}

.create-album-tag-container i, .create-album-upload-photos-container i{
  color:var(--accent-color);
}
.create-album-tag-container p, .create-album-upload-photos-container p{
  color:var(--text-color);
}
.create-album-tag-container:hover p, .create-album-upload-photos-container:hover p{
  color:#113f85c9;
}
.create-album-tag-container i, .create-album-upload-photos-container i{
  color:var(--accent-color);
}
.create-album-upload-photos-container label{
  column-gap:8px;
}
#create-album-photos-input{
  display:none;
}
.create-album-photos-container{
  position:relative;
  width:300px;
  display: flex;
  justify-content: space-between;
}

.create-album-photo-upload{
  width:90px;
  height:90px;
  background-color: rgba(0,0,0,0.17);
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-album-photo-plus-container{
  background-color: var(--accent-color);
  width:30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.create-album-button{
  width:100%;
  background-color: var(--accent-color);
  padding:8px;
  color:white;
  border:none;
  font-size:17px;
  border-radius:10px;
  cursor: pointer;
}

.create-album-photo-upload img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create-album-photo-next, .create-album-photo-previous{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  color:var(--text-color);
  font-size:20px;
  cursor: pointer;
}

.create-album-photo-next{
  right:-25px;
}
.create-album-photo-previous{
  left:-25px;
}
.media-add{
  position: fixed;
  width: clamp(3rem,4vw,3.825rem);
  height: clamp(3rem,4vw,3.825rem);;
  bottom:10px;
  right:50%;
  transform: translateX(50%);
  border-radius: 50px;
  background-color:var(--accent-color);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index:300;
  transition: box-shadow 0.1s ease;
}
.media-add:hover{
  background-color: var(--accent-hover);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.media-add i{
  color: white;
  font-size: clamp(1.5rem,2vw,2rem);
}
.tooltip {
  visibility: hidden;
  position: relative;
  display: inline-block;
  visibility: hidden;
  width: 100px;
  background-color: #0e356b;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.media-add:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.album-request-container{
  box-sizing: border-box;
  margin-top:20px;
  display:grid;
  grid-template-columns: calc(100% * 0.25) calc(100% * 0.25) calc(100% * 0.25) calc(100% * 0.25);
  column-gap: 15px ;
  row-gap: 15px;
}
.album-request{
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.album-request img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius:10px;
  cursor: pointer;

}
.album-request-info{
  display: flex;
  flex-direction:column ;
  cursor: pointer;

}
.album-request-info h3{
  margin:0;
  color:var(--text-color);
  font-size:30px;
}
.album-request-info p{
  color:var(--accent-color);
  font-size:20px;
}
.album-request-buttons{
  width: 100%;
  display: flex;
  column-gap:10px ;
}
.album-request-buttons button{
  width: 100%;
  height:40px;
  border-radius: 40px;
  cursor: pointer;
}
.album-request-buttons button:hover{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.album-request-decline{
  border:1px solid var(--accent-color);
  background-color: var(--background-light);
  color:var(--accent-color);
  font-size:15px;
  transition: all 0.1s ease;
}
.album-request-decline:hover{
  background-color: hsla(0, 0%, 100%, 0.425);
}
.album-request-accept{
  border:none;
  background-color: var(--accent-color);
  color:var(--background-light);
  font-size:15px;
}
.album-request-accept:hover{
  background-color: var(--accent-hover);
}
.album-request-length{
  color:var(--accent-color);
  font-weight: 200;
}
.album-search{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.search-container{
  display: flex;
  align-items: center;
  position: relative;
}
.search-i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right:0px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
  color:var(--accent-color);
  background-color: var(--background-light);
  padding:5px 7.25px;  box-sizing: border-box;

}

.search-i.open{
  width: 30px;
  height: 30px;
  font-size:14px;
  background-color: var(--accent-color);
  color:var(--background-light);
  right: 5px;
}
.search-i:hover{
  background-color: var(--background-color);
}
.search-i:hover .tooltip{
  visibility: visible;
  opacity: 1;
}
.search-i.open:hover{
  background-color: var(--accent-hover);
}
.search-i.open:hover .tooltip{
  visibility: hidden;
  opacity: 0;
}
.search-input {
  color:var(--input-text);
  font-size: 14px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--background-light);
  border:none;
  outline:none;
  border-radius: 30px;
  transition: all 0.4s ease, border 0s ease;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatex(100%);
  transform:translateY(-50%) ;
  box-shadow: 4px 4px 1px var(--accent-color);
}
.search-input::placeholder{
  color:rgba(0, 0, 0, 0.4)
}
.search-input.open {
  width: 300px; 
  height:40px;
  transform: translateX(0);
  transform:translateY(-50%) ;
  padding: 0 20px;
  border:1px solid rgba(0,0,0,0.1);
  box-shadow: none;;
}

@media(max-width:1000px){
  .gallery-page-header{
    justify-content: center;
  }
  .h2-container{
    align-items: center;
    justify-content: center;
  }
  
}

@media(max-width:650px){
  .create-album-container{
    width: 100%;
    height:100%;
    border-radius: 0;
  }
  .create-album-picture-placeholder{
    width:clamp(12.5rem, 50vw, 18.75rem);
    height:clamp(12.5rem, 50vw, 18.75rem)
  }
}