.messagesPageContainer {
  position: relative;
  height: calc(100vh - var(--header-height));
  display: flex;
}
.messagesFriendsSelector {
  width: clamp(16rem,30vw,19.625rem);
  padding:0;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.messagesHeaderContainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: clamp(0.625rem,1vw,1rem) clamp(0.875rem,1.5vw,1.5rem);
  padding-bottom:20px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.messagesFriendsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.messagesFriendsHeader h1{
  font-size:clamp(2rem, 3.5vw, 2.875rem);
  font-weight: 400;
}

.addMessage {
  color: var(--accent-color);
  margin-top: 5px;
  cursor: pointer;
  font-size: clamp(2rem, 3.5vw, 3rem);
}

.addMessage:hover {
  color: #fdc26a;
}

.searchMessage {
  position: relative;
  display: flex;
  align-items: center;
}

.searchMessage input {
  width: 100%;
  height: clamp(2.125rem,3vw,2.5rem);
  border-radius: 30px;
  border: none;
  padding: 0 37px;
  outline: none;
  font-size: clamp(0.75rem,1vw,0.875rem);
  font-family: 'Itim';
  background-color: var(--background-light);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.searchIcon {
  position: absolute;
  left: 15px;
  color: #3d3d3d;
}

.messagesThreadsContainer {
  display: flex;
  flex-direction: column;
}

.threads {
  display: flex;
  align-items: center;
  color: var(--text-color);
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
  cursor: pointer;
  overflow: visible;
  position: relative;
}
.threads:first-child{
  border-top:none;
}
.threads:last-child{
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.threads:hover {
  background-color: rgba(0,0,0,0.05);
}
.activeConversation{
  background-color: rgba(0,0,0,0.05);
}
.activeLine{
  visibility: hidden;
  position: absolute;
  height:calc(100% + 2px);
  width:2.5px;
  background-color: var(--accent-color);
  left:0px;
  border-radius: 10px;
  transform: translateX(-50%);
}
.activeConversation .activeLine{
  visibility:visible;
}
.threadReceiverInfo{
  display:flex;
  align-items: center;
  column-gap:10px;
}
.threadReceiverInfo img{
  width: clamp(2.75rem,5vw,3.125rem);
  border-radius: 30px;
}
.threadReceiverText {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size:clamp(0.75rem,1vw,0.875rem);
}
.threadReceiverUsername{
  font-size: clamp(0.875rem,1.5vw,1rem);
}
.lastMessageSent{
  font-size:clamp(0.8rem,1vw,0.875rem);
  color: #113f859c;
}
.activeConversation .lastMessageSent{
  color:var(--text-color);
}
.messageTime{
  position: absolute;
  font-size:clamp(0.875rem,1.5vw,1rem);
  color:#113f859c;
  top:20px;
  right:15px;
}
.activeConversation .messageTime{
  color:var(--text-color);
}
.addMoreMessages{
  width: 100%;
  padding:20px 0px;
  display: flex;
  justify-content: center;
}
.addMoreMessages i{
  color:var(--accent-color);
  font-size:clamp(1.875rem,2.5vw,2.125rem);
  cursor: pointer;;
}
.addMoreMessages i:hover{
  color: var(--accent-hover);
}
.conversationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 199;
  font-size: clamp(1.5rem,2.5vw,2.125rem);
  color: var(--text-color);
  box-sizing: border-box;
  padding-top:15px;
}
.conversationHeader div{
  display: flex;
  column-gap: clamp(0rem, 0.5vw, 0.625rem);
}
.conversationHeader div i{
  color:var(--accent-hover);
  cursor: pointer;
  font-size: clamp(1.125rem, 1.5vw, 1.25rem);
}
.conversationHeader i{
  color:#666056;
  width:35px;
  height:35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  font-size:25px;
}
.conversationHeader i:hover{
  background-color: rgba(0,0,0,0.05);
}
.conversationContainer {
  position: relative;
  padding:0px clamp(1rem, 4vw, 4rem);
  height: calc(100vh-var(--header-height));
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.conversationMessagesContainer {
  width: 100%;
  flex:1;
  border-radius: 30px;
  background-color: rgba(0,0,0,0.05);
  row-gap: 2px;
  box-sizing: border-box;
  overflow: hidden;
}
.messages{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding:20px clamp(1rem, 3vw, 4rem);
  padding-top:40px;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  position: relative;
  text-wrap:wrap;
}
.messages::-webkit-scrollbar{
  width: 5px;
}
.messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.messages::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin-top:25px;
  margin-bottom:25px;
}
.conversationStart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conversationStartImage{
  width:clamp(6rem,10vw,9.75rem);
  height:clamp(6rem,10vw,9.75rem);
  border-radius: 50%;
}
.conversationStartFullName{
  font-weight: 400;
  font-size:clamp(1.5rem,2.5vw,2.125rem);
  color:var(--text-color);
}
.conversationStartUsername{
  color:var(--accent-color);
  font-size:clamp(1rem,1.5vw,1.5rem);
}
.conversationStartMessage {
  padding-top:3px;
  align-self: center;
  font-size: clamp(0.875rem,1.5vw,1.5rem);
  color: #55719B;
  padding-bottom: 60px;;
}
.messageInputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-top:10px;
  padding-bottom:20px;
}
.messageInput input{
  width: 100%;
  height: 42px;
  padding: 5px 20px;
  padding-right: 90px;;
  border-radius: 30px;
  background-color: var(--background-light);
  outline: none;
  border:1px solid rgba(0,0,0,0.1);
  color:#3d3d3d;
  overflow: hidden;
}
.messageInput input::placeholder{
  color:rgba(0, 0, 0, 0.4);
}
.messageInput {
  display: flex;
  align-items: center;
  flex:1;  
  column-gap: 10px;
  position: relative;
}
.messageIcons{
  width: 42px;
  height: 42px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  cursor: pointer;
}
.messageIcons i {
  color: var(--background-light);
  font-size:22px;
}

.messageIcons:hover {
  background-color: #fdc26a;
}
.messageInputIcons{
  right:0;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size:22px;
  color:var(--accent-color);
  height:100%;
}
.messageInputIcons i{
  cursor: pointer;

}
.messageSend{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  background-color: var(--accent-color);
  color:var(--background-light);
  height: calc(100% - 2px);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-right:5px;
  cursor: pointer;
}
.messageSend:hover{
    background-color: var(--accent-hover);
}
.senderMessage,
.receiverMessage {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 10px;
  border-radius: 20px;
  color: white;
  font-size: clamp(0.875rem,1.5vw, 1.125rem);
  max-width: 45%;
  word-wrap: break-word;
  word-break: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
}

.senderMessage {
  align-self: flex-end;
}

.receiverMessage {
  align-self: flex-start;
}

.senderMessage p {
  max-width: 100%;
  background-color: var(--accent-color);
  padding: 7px 12px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  text-wrap: wrap;
}

.receiverMessage p {
  max-width:100%;
  background-color: #62BDFF ;
  padding: 7px 12px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);

}

.senderMessage img,
.receiverMessage img {
  width: clamp(1.9375rem,2.75vw,2.25rem);
  border-radius: 18px;
}




.marginedTextContainer{
  position: relative;
  margin-left:clamp(2.5625rem,3.35vw,2.875rem);
}
.senderMarginedTextContainer{
  position: relative;
  margin-right: clamp(2.5625rem,3.35vw,2.875rem);
}
.userMessageSentUsername{
  color:var(--text-color);
}

.textContainer{
  position: relative;
}
.receiverUsername, .senderUsername{
  position: absolute;
  color:rgba(0, 0, 0, 0.3);
  font-size: clamp(0.75rem,1vw,0.875rem);
  bottom:100%;
  text-wrap: nowrap;
}
.senderUsername{
  right:5px;
}
.receiverUsername{
  left:5px
}
.messageDefaultPage{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:center
}
.messageDefaultContainer{
  display: flex;
  flex-direction: column;
  row-gap:20px;
}
.messageDefaultContainer img{
  width: clamp(7rem,30vw,18.75rem);
}
.messageDefaultContainer p{
  color:var(--text-color);
  font-size:clamp(1rem,2.5vw,2.125rem);
  line-height: clamp(1rem,3vw,2rem);
  text-align: center;
}
.messageDefaultContainer button{
  font-size:clamp(0.875rem,1vw,1rem);
  color:var(--background-light);
  background-color: var(--accent-color);
  border-radius:30px;
  padding:clamp(0.375rem,0.5vw,0.625rem);
  border:none;
  cursor: pointer;
  transition: all 0.1s ease;
}
.messageDefaultContainer button:hover{
  background-color: var(--accent-hover);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1);

}
@media(max-width:650px){
  .messagesPageContainer{
    padding-bottom:var(--small-side-bar-padding);

  }
  .messageInputContainer{
    padding-bottom: 10px;
  }
  .messages::-webkit-scrollbar-track {
    margin:0;
  }
  .messages::-webkit-scrollbar-thumb {
    border-radius: 0;
  }
}
@media(max-width:450px){
  .messageDefaultContainer{
    display: none;
  }
  .messagesFriendsSelector{
    width: 100%;
  }
  .conversationContainer{
    padding:0px;
  }
  .conversationMessagesContainer{
    border-radius: 0;
  }
  .conversationHeader,.messageInputContainer{
    padding-right:7px;
    padding-left:7px;
  }
  .conversationHeader{
    padding-top:10px;
    padding-bottom: 5px;;
  }
}