.gallery-page-container{
  padding:25px 45px;
}
.gallery-page-container h1{
  font-size: 60px;
  display: inline-block;
  position: relative;
  margin-bottom:25px;
}

.selector-container{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;

}
.selector{
  display: flex;
  align-items: center;
  
  column-gap: 10px ;
  color:var(--text-color);
  font-size: 20px;
  padding:10px 105px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.selector-line{
  position: absolute;
  top:0;
  left:0;
  height: 4px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 99px;
}

#selected-line{
  position: absolute;
  top:0;
  height: 4px;
  width: 33%;
  background-color: var(--accent-color);
  border-radius: 99px;
  transition: all 0.4s ease;
}
.selector-active{
  color:var(--accent-color);
}
.h2-container{
  display: flex;
  justify-content: space-between;
}
.sort-button{
  display: inline-block;
  color:var(--text-color);
  font-size: 20px;
  cursor: pointer;
}
.sort-button-span{
  color:var(--accent-color);
}

.sort-button-arrowDown{
  color:black;
  margin-left:5px;
}




.photos-container{
  box-sizing: border-box;
  margin-top:20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px ;
  row-gap: 15px;
}

.photos{  
  width:100%;
  object-fit:cover;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  filter: brightness(70%);
  cursor: pointer;
  transition: all 0.2s ease;
}
.photos:hover{
  filter: brightness(100%);
}

.albums-container{
  box-sizing: border-box;
  margin-top:20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px ;
  row-gap: 15px;
}
.album-add{
  aspect-ratio: 1/1;
  border-radius:10px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.album-plus-background{
  width:50px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius:30px;
  background-color: var(--accent-color);
}
.album-add i{
  font-size:30px;
  color:white;
}
.album-add p{
  color:var(--text-color);
  font-size:22px;
}

.create-album-page{
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 999;
}

.create-album-container{
  position: absolute;
  width: 500px;
  height:800px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #fff5e5;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  
  row-gap: 20px;
  z-index: 1000;
}
.create-album-header{
  display:flex;
  align-items:center;
  justify-content: center;
  padding:12px 0px;
  border-bottom:1px solid #d3cdc2;
  position: relative;
}
.create-album-header p{
  color:var(--text-color);
  font-size:20px;
}
.create-album-close{
  color:var(--text-color);
  position:absolute;
  right:20px;
  font-size:20px;
  top:15px;
  cursor:pointer;
}
.create-album-close:hover{
  color:#113f85cb
}

.create-album-body{
  display:flex;
  flex-direction: column;
  align-items:center;
}


.create-album-picture-placeholder{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  height:300px;
  background-color:rgba(0,0,0,0.2);
  border-radius: 20px;;
}
.create-album-picture-placeholder p{
  color:var(--text-color);
  font-size:20px;
}
.create-album-picture-placeholder label{
  display:flex;
  flex-direction: column;
}
.create-album-plus-container{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width:50px;
  height:50px;
  background-color: var(--accent-color);
}
#create-album-cover-input{
  display: none;
}
