.profile-page-container{
  height: calc(100vh - var(--header-height));
  padding:clamp(2.75rem,3vw,3rem) clamp(1rem,3vw,2.75rem);
  padding-bottom:0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.profile-info-container{
  display: flex;
  column-gap: clamp(1rem,4vw,3.875rem);
  align-items:start;
  padding-bottom:clamp(3rem,3vw,3rem);
}
.profile-name h1{
  font-size: clamp(1rem, 4vw,3rem);
  text-wrap: nowrap;
  color:var(--text-color);
  position: relative;
  display: inline-block;
}


a{
  text-decoration: none;
}
.profile-image{
  width: clamp(7rem,20vw,15rem);
  border-radius: 150px;
  cursor: pointer;
}
.profile-info{
  display: inline-flex;
  flex-direction: column;
  row-gap: clamp(0.75rem,3vw,2.75rem);
}
.profile-username{
  color:var(--accent-color);
  margin-top:-3px;
  font-size:clamp(0.75rem,1vw,1.25rem);
}
.profile-stats{
  display: flex;
  column-gap: clamp(0.625rem,1.5vw,1.5rem);
  color: var(--text-color);
  font-size: clamp(1rem,2vw,1.5rem);
  text-wrap: nowrap;

}
.profile-content-container{
  padding: 45px 15px;
  margin-top:clamp(-0.25rem,-0.5vw,-0.375rem);
  padding-top:clamp(1.75rem,3vw,3.125rem);
  padding-left: 0px;
  z-index: 10;
  overflow-y: auto; 
}
.profile-content-container::-webkit-scrollbar{
  width: 7px;
  
}
.profile-content-container::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.25);
  border-radius: 20px;
}
.profile-content-container::-webkit-scrollbar-track{
  margin-top: clamp(1.75rem,3vw,3.125rem);
  margin-bottom:45px;
}

.profile-about{
  font-size: clamp(0.875rem, 1.5vw, 1.25rem);
  color:var(--text-hover);
}
.profile-buttons{
  text-wrap: nowrap;
  display: inline-flex;
  align-items: center;
  margin-left:clamp(0.5rem,1.5vw, 1.125rem);

}
.profile-header{
  display:flex;
  align-items: center;
}
.profile-button{
  box-sizing: border-box;
  font-family: 'Itim';
  font-size: clamp(0.625rem,1.5vw,0.875rem);
  padding:clamp(0.25rem,0.75vw,0.375rem) clamp(1.125rem,2vw,1.875rem);
  color:white;
  background-color: var(--accent-color);
  border:none;
  margin-right: clamp(0.5rem,1vw, 0.625rem);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.profile-button:hover{
  background-color: #ffbf60;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.options-button{
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.options-button:hover{
  background-color: transparent;
}
.profile-ellipsis-container{
  width: clamp(1.5rem,2vw,1.875rem);
  height:clamp(1.5rem,2vw,1.875rem);
  display: flex;
  align-items: center;  
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}
.profile-ellipsis-container:hover{
  background-color: rgba(0,0,0,0.1);
}
.ellipsis-active{
  background-color: rgba(0,0,0,0.1);
}
.profile-ellipsis{
  color:rgba(0,0,0,0.8);
  font-size:clamp(1rem,2vw,1.5rem);
}





.profile-nav {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  border-bottom: 2px solid var(--accent-color);
  position: relative;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.07);
  z-index:20

}

.nav-item {
  color: var(--text-hover);
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  flex:1;
  text-align: center;
  font-size: clamp(0.75rem, 1vw, 1.125rem);
  padding: clamp(0.5rem,1vw,0.625rem) clamp(0.5rem,1vw,1.5rem);
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.nav-item:hover {
  background-color: var(--accent-color);
  color: var(--background-light);
}

.nav-item.active {
  background-color: var(--accent-color);
  color: var(--background-light);
}




.add-pfp-page-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-pfp-page-body{
  background-color: #FFEFD8;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  padding-top:20px;
  padding-right:20px;
  padding-left:20px;
  border:2px solid #b9b2a3
}
.add-pfp-image{
  display:flex;
  flex-direction: column;
  padding:30px;
  padding-top:10px;
  row-gap: 20px;
  position: relative;
}
.add-pfp-image img{
  width:200px;
  border-radius:50%;
  border:2px solid #d3cdc2;
}
.add-pfp-image button{
  background-color: var(--accent-color);
  border:none;
  color:white;
  padding:7px 0;
  border-radius: 20px;
  font-size:17px;
  font-family: 'Itim';
  cursor: pointer;
}
.add-pfp-image button:hover{
  background-color: #ffbf60;
}
.add-pfp-image-back{
  position: absolute;
  top:10px;
  left:10px;
  color:var(--text-color);
  font-size:19px;
  cursor: pointer;
}
.add-pfp-page-body h1{
  width:100%;
  text-align:center;
  padding-bottom:20px;
  font-size:30px;
  margin:0;
  border-bottom:1px solid #d3cdc2;
}
.add-pfp-page-body label{
  width: 100%;
}
.add-pfp-page-body-item{
  display:block;
  width:100%;
  text-align: center;
  color:var(--accent-color);
  padding:15px 0;
  cursor: pointer;
  font-size:20px;
}

.add-pfp-page-body-item:last-child{
  border-top:1px solid #d3cdc2;
}
.add-pfp-page-body-item:hover{
  color:#ffbf60e7;
}

.add-pfp-page-body input{
  display:none;
}
