.settings-page-container{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding:0px;
  display: grid;
  grid-template-rows: 80px 1fr;
}
.settings-container{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.274);
}
.settings-header-container{
  display: flex;
  align-items: center;
  border-bottom:1px solid var(--border-color)
}
.settings-header{
  width:200px;
  height:100%;
  display: flex;
  align-items:center;
  font-size:35px;
  padding-left:20px;
  color:var(--text-color);
  border-right:1px solid var(--border-color);
  box-sizing: border-box;
}
.settings-close{
  flex:1;
  font-size:25px;
  color:var(--text-color);
  text-align:end;
  padding-right:20px;
}
.settings-close i{
  cursor: pointer;
}
.settings-close i:hover{
  color:var(--text-hover)
}
.settings-side-bar-container{
  position: relative;
  width:200px;
  height: 100%  ;
  border-right:1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding:20px;
  box-sizing: border-box;
}
.settings-side-bar{
  position: relative;
  display:flex;
  flex-direction: column;
  row-gap: 30px;
}
.settings-selector{
  position:absolute;
  height:240px;
  width:5px;
  right:0px;
  top:20px;
  transform: translateX(60%);
}
.settings-selector-line{
  position:absolute;
  width: 5px;
  height:24px;
  border-radius:30px;
  background-color: var(--accent-color);
  transition: all 0.25s ease;
}
.settings-side-bar-item{
  display: flex;
  color:var(--text-color);
  font-size: 20px;
  column-gap: 15px;
  cursor: pointer;
  align-items: center;
}
.settings-side-bar-item:active{
  color: var(--text-hover);
}
.settings-side-bar-item i{
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.settings-body{
  display: flex;
}
.settings-content{
  width: calc(100% - 200px);
  padding:20px;
  box-sizing: border-box;
}

