.sign-in-page {
  height:100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-container {
  display: flex;
  max-width:1100px;
  max-height:600px;
  padding:2rem
}

.sign-in-welcome {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width:50%;
  height: auto;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 70px 0px;
}
.sign-in-logo {
  position: absolute;
  width: 25%;
  top: max(4%,40px);
  left: max(4%,40px);
}
.sign-in-image {
  width: 80%;
  animation: bounce 3s linear infinite
}
.sign-in-image:hover{
  animation:none;
}

.link {
  color: var(--accent-color);
  font-size:clamp(0.75rem, 1vw, 1rem); 
  display: block;
  cursor: pointer;
  display: inline-block;
}
.link:active {
  color:#fcc87a
}

.sign-in-input {
  width:50%;
  height: auto;
  box-sizing: border-box;
  background-color: var(--text-color);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: left;
  padding: min(5em, 5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sign-in-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom:20px;
}
.sign-in-header h1 {
  color: white;
  font-weight: 400;
  margin: 0;
  font-size: clamp(3rem,4vw,4rem);
  margin-bottom: -10px;
}
.sign-in-header p {
  color: var(--accent-color);
  font-size: clamp(0.8rem,1vw,1.25rem);
}
.sign-in-input-body {
  width: 80%;
  color:white;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.sign-in-input input {
  box-sizing: border-box;
  padding: 0px 15px;
  width: 100%;
  height:clamp(1.875rem,3vw,2.5rem);
  color:var(--text-color);
  background-color: white;
  border: none;
  border-radius: 6px;
  font-family: "Itim";
  font-size: 14px;
}

.sign-in-input input:focus {
  outline: none;
}

.input-header {
  color: white;
  font-size:clamp(0.75rem, 1vw, 1rem); 
}
.login-button,.sign-in-google-button {
  width: 100%;
  border: none;
  height: clamp(1.875rem,3vw,2.5rem);
  padding: 0;
  border-radius: 6px;
  background-color: var(--accent-color);
  color: white;
  font-family: "Itim";
  font-size: clamp(0.8rem,1.75vw,1.25rem);
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 0px;
}
.login-button:hover,.sign-in-google-button:hover {
  background-color: #ffbe5d;
}
.sign-in-or {
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 20px;
  color: white;
  font-size:clamp(0.8rem, 1vw, 1rem); 

}


.sign-in-or::after,
.sign-in-or::before {
  content: '';
  flex:1;
  border-top: 1px solid white;
  border-radius: 1px;
}
.sign-in-password-input {
  position: relative;
}
.eye {
  color: var(--text-color);
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  right: 5px;
  cursor: pointer;
  font-size: clamp(0.7rem,0.8vw,1rem);
}


.sign-in-error {
  color: red;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  font-size:clamp(0.75rem, 1vw, 1rem); 
  font-weight: 400;
  margin-left: 5px;
  margin-top: 5px;
}
.sign-in-google-button{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
}
.sign-in-google-container{
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.sign-in-google{
  width: 25px;

}
.sign-in-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.sign-in-register-text{
  text-align: center;
  font-size:  clamp(0.75rem, 1vw, 1rem);;
}
@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}

@media (max-width:740px){
  .sign-in-container{
    width: 100%;
    min-height:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
  }
  .sign-in-input{
    border-radius: 0px;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sign-in-input-body{
    height: 45%;
    width:75vw;
  }
  .sign-in-welcome{
    border-radius:0;
    width: 100%;
    padding:0;
  }
  .sign-in-image{
    display:none;
  }
}